// Import Bulma's core
@import 'spacing-helper';
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #f5c0d2;
$primary-invert: findColorInvert($primary);
$secondary: #ffa0be;
$secondary-invert: findColorInvert($secondary);
$warning: #f77f00;
$warning-invert: findColorInvert($warning);
$danger: #d62828;
$danger-invert: findColorInvert($danger);
$success: #219653;
$success-invert: findColorInvert($success);
$info: #2f80ed;
$info-invert: findColorInvert($info);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'secondary': (
    $secondary,
    $secondary-invert,
  ),
);

// Fonts
$family-primary: 'Heebo', sans-serif;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// upload
.upload {
  width: 100%;
}

.upload-draggable {
  width: 100%;
}

//evidence-transfer
.evidence-transfer {
  display: flex;
  align-items: center;
  justify-content: center;
  &.flex-end {
    justify-content: flex-end;
  }
}

// image grayscale
.image-grayscale {
  filter: grayscale(100%);
}

@media print {
  body {
    * {
      visibility: hidden;
    }
  }

  #print-area {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    * {
      visibility: visible;
    }
    &.card {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
    }
    .hide-when-print {
      visibility: hidden;
      display: none;
    }
  }
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
