<template>
  <b-navbar type="is-secondary">
    <template slot="brand">
      <!-- Logo and Wording -->
      <b-navbar-item
        tag="router-link"
        :to="{ path: '/' }"
        class="has-text-weight-bold"
      >
        <img src="~assets/logo.png" alt="" />
        Ariana Grande
      </b-navbar-item>
      <!-- End of Logo and Wording -->
    </template>
    <template slot="start"> </template>

    <template slot="end">
      <!-- Navigation Item List -->
      <b-navbar-item tag="nuxt-link" to="/about"> About </b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/news"> News </b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/schedules"> Schedules </b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/gallery"> Gallery </b-navbar-item>
      <b-navbar-item tag="nuxt-link" to="/contact"> Contact </b-navbar-item>
      <!-- End of Navigation Item List -->
    </template>
  </b-navbar>
</template>
