<template>
  <!-- News Detail -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">{{ news.title }}</h1>
          <time>{{ news.created_at }}</time>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-12">
          <figure class="image is-4by3">
            <img
              :src="news.image_url"
              alt="Placeholder image"
              style="object-fit: cover"
            />
          </figure>
        </div>
      </div>
      <div class="column is-12">
        <p>{{ news.content }}</p>
      </div>
    </div>
  </section>
  <!-- News Detail -->
</template>

<script>
export default {
  name: 'NewsDetail',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // initial data post/news detail
      isNewsLoading: false,
      news: {},
      errorNews: null,
    }
  },
  async created() {
    // call news detail
    await this.getNewsDetail()
  },
  methods: {
    /**
     * method for call news detail
     */
    async getNewsDetail() {
      try {
        // set loading to true
        this.isNewsLoading = true
        // get response data from api post detail
        const response = await this.$axios.$get(
          `posts/${this.$route.params.id}`
        )
        // set response data post detail from api
        this.news = response
        // set loading to false
        this.isNewsLoading = false
      } catch (error) {
        // set loading to false
        this.isNewsLoading = false
      }
    },
  },
}
</script>
