<template>
  <!-- End of News Data -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">News</h1>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-4" v-for="news in listNews" :key="news.id">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  :src="news.image_url"
                  alt="Placeholder image"
                  style="object-fit: cover"
                />
              </figure>
            </div>
            <div class="card-content has-background-white-bis">
              <nuxt-link
                :to="`/news/${news.id}`"
                class="has-text-primary has-text-weight-bold is-size-5"
              >
                {{ news.title }}
              </nuxt-link>

              <div class="content">
                {{ news.content.slice(0, 150) + '...' }}
                <br />
                <time>{{ news.created_at }}</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of News Page -->
</template>

<script>
export default {
  name: 'News',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // initial data posts/news
      isNewsLoading: false,
      listNews: [],
      errorNews: null,
    }
  },
  async created() {
    // call news api
    await this.getNews()
  },
  methods: {
    /**
     * method for call api news
     */
    async getNews() {
      try {
        // set loading to true
        this.isNewsLoading = true
        // get response data from api posts
        const response = await this.$axios.$get(`posts`)
        // set response data posts from api
        this.listNews = response
        // set loading to false
        this.isNewsLoading = false
      } catch (error) {
        // set loading to false
        this.isNewsLoading = false
      }
    },
  },
}
</script>
