<template>
  <!-- About -->
  <section class="section has-background-primary">
    <div class="columns">
      <div class="column is-2">
        <aside class="section has-background-primary">
          <p class="menu-label is-hidden-touch has-text-black">Biography</p>
          <ul class="menu-list">
            <li v-for="(item, key) of items" :key="key">
              <a
                href="#"
                :class="{ 'is-active': activeTab == item.to.name }"
                @click="setActiveTab(item.to.name)"
              >
                {{ item.title }}
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <!-- Artist Profile -->
        <div v-if="activeTab == 'profile'">
          <figure class="image m-b-md">
            <img src="~assets/about/profile.jpg" alt="" />
          </figure>
          <p>
            Ariana Grande starts to perform onstage when she was a child. Her
            involvement in Broadway play starts as early as age 15, followed by
            small TV parts that helped her land the role of Cat on TV's
            Victorious, followed by the spinoff Sam & Cat and then dove
            headfirst into a chart-topping musical career by releasing six
            albums: Yours Truly (2013), My Everything (2014), Dangerous Woman
            (2016), Sweetener (2018) and Thank U, Next (2019), and Positions
            (2020).
          </p>
        </div>
        <!-- Artist Profile -->

        <!-- Career's journey -->
        <div v-if="activeTab == 'career'">
          <figure class="image m-b-md">
            <img src="~assets/about/career.jpg" alt="" />
          </figure>

          <p>
            Ariana Grande was born on June 26, 1993, in Boca Raton, Florida, to
            Edward Butera, a graphic designer, and Joan Grande, a businesswoman.
            She starting to sing and act at a young age and made her way onto
            the local theater scene. Her first break came in 2008 when the
            15-year-old Ariana landed the role of Charlotte in the Broadway
            production of 13, which was a play focusing on teenagers growing up
            in New York City. The early role led to accolades including National
            Youth Theatre Association Award. Two years later, she had a small
            role on a TV show called The Battery’s Down and an appearance in the
            musical Cuba Libre.
          </p>

          <h2 class="has-text-weight-semibold">Television Roles</h2>
          <p>
            Ariana Grande landed her huge breakout role in the Nickelodeon
            series named Victorious. It was set at a performing arts high
            school, and she was cast as a funny aspiring singer-actress named
            Cat Valentine. Even though she is busy with the show, she
            nevertheless pursued a musical career, making her first singing
            appearance on a record with the Victorious soundtrack. And in 2011,
            Grande released the single "Put Your Hearts Up," a pop song aiming
            the hearts of her young Victorious audience. Victorious devoted fan
            base voted the show as a Favorite TV Show at the 2012 Nickelodeon
            Kids' Choice Awards.When Victorious finished in 2012, Grande's
            character Cat Valentine live on. She went to star in the Nick
            spin-off Sam & Cat, co-starring iCarly’s Jennette McCurdy and last
            for 35 episodes in 2013-2014.
          </p>
        </div>
        <!-- Career's journey -->

        <!-- Album and Song -->
        <div v-if="activeTab == 'album-song'">
          <figure class="image m-b-md">
            <img src="~assets/about/album-song.jpg" alt="" />
          </figure>
          <h2 class="has-text-weight-semibold">Albums and Songs</h2>
          <h2 class="has-text-weight-semibold">
            'Yours Truly' & 'My Everything'
          </h2>
          <p>
            “The Way” was the primary single from Ariana Grande’s debut album,
            Yours Truly, a record that also featured the hits “Right There” and
            "Baby I". The album was produced by the multitalented producer
            Babyface, showed a mature sounding of Ariana Grande, and 1990s soul
            influences from pop legend Mariah Carey. The release of My
            Everything in 2014 sold 169,000 copies in its first week, debuting
            at No. 1. The song “Problem,” featuring Australian rapper Iggy
            Azalea, preceded the album release and debuted at No. 3 on
            Billboard’s Hot 100, selling 400,000 copies upon its release. “Break
            Free” with Zedd and “Love Me Harder” with The Weeknd followed,
            climbing on the top part of billboard 100. On summer of 2014, Ariana
            Grande release a song with Jessie J and Nicki Minaj titled “Bang
            Bang”, a track that debuted at No. 6 and peaked at No. 3 in the us.
            The album had another successful single titled “One Last Time” that
            reached number 13 on the US Billboard Hot 100. Ariana Grande had
            three popular singles from My Everything on the Billboard chart at
            the same time.
          </p>
          <h2 class="has-text-weight-semibold">'Dangerous Woman'</h2>
          <p>
            Towards the end of 2015 Grande released Christmas & Chill, a
            Christmas album, followed by the single "Focus” that debuted at
            number seven on the Billboard's Hot 100. On the beginning of 2016,
            she released her third album Dangerous Woman, and a title track with
            the same name that debuted at number 10 on the Billboard’s 100 that
            March. She made history in music with the track's success, becoming
            the only artist to have lead singles from her first three albums
            debut in the Top 10.
          </p>
          <p>
            The album Dangerous Woman, which debuted at number two on the
            Billboard 200, also includes collaborations with Nicki Minaj, Lil
            Wayne, Macy Gray, and Future.
          </p>
          <h2 class="has-text-weight-semibold">'Sweetener'</h2>
          <p>
            Ariana Grande returned to the charts in the middle of 2018 with "No
            Tears Left to Cry”. She continues in June with the dance track "The
            Light Is Coming," featuring Minaj and dropped the sultry "God is a
            Woman" in July, as well as "Breathin" in September. The four songs
            were included in her highly anticipated album Sweetener that debuted
            in mid-August. The success of Sweetener led to her first Grammy win
            for Best Pop Vocal Album in 2019.
          </p>
          <h2 class="has-text-weight-semibold">'Thank U, Next'</h2>
          <p>
            Ariana Grande returned to the studio to provide her fifth album,
            Thank U, Next. The title track came out in early November 2018, and
            another top song, "7 Rings," arrived in January 2019. The album
            debuted in February to praises, alongside the single, "Break Up
            together with your Girlfriend, I'm Bored."
          </p>
          <p>
            In 2019 Ariana becomes the youngest performer ever to headline
            Coachella, at 25 years old, as well as just the fourth woman to earn
            the honors. Her collaborations during this period of time includes
            "Rule the planet," with 2 Chainz, "Monopoly," with Victoria Monét,
            and "Boyfriend," with Social House. Later that year, Ariana Grande,
            Miley Cyrus, and Lana Del Rey release "Don't Call Me Angel," as part
            of the Charlie's Angels soundtrack. Ariana Grande continued with the
            collaborations in 2020, her joint efforts with Justin Bieber on
            "Stuck with U" hits the Billboard top spot in May before she joined
            Lady Gaga for "Rain on Me" later within the month.
          </p>
          <h2 class="has-text-weight-semibold">'Positions'</h2>
          <p>
            Her third album in two years, and six albums overall, Ariana Grande
            released the single positions and albums in October 2020 to
            generally positive reviews. Both the single and albums hits #1 spot
            on Billboard 100 and 200 respectively. There is no sign for her to
            slowing down her pace in the music industry.
          </p>
        </div>
        <!-- Album and Song -->

        <!-- Discography -->
        <div v-if="activeTab === 'discography'">
          <div class="columns is-multiline">
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Yours Truly</h2>
                  <img src="~assets/album/1.jpg" alt="" />
                  <div class="content">
                    <ol>
                      <li>Honeymoon Avenue</li>
                      <li>Baby I</li>
                      <li>Right There (Ft. Big Sean)</li>
                      <li>Tattooed Heart</li>
                      <li>Lovin' It</li>
                      <li>Piano</li>
                      <li>Daydreamin’</li>
                      <li>The Way (Ft. Mac Miller)</li>
                      <li>You'll Never Know</li>
                      <li>
                        Almost Is Never Enough by Ariana Grande & Nathan Sykes
                      </li>
                      <li>
                        Popular Song [Single Version] by MIKA (Ft. Ariana
                        Grande)
                      </li>
                      <li>Better Left Unsaid</li>
                      <li>The Way (Spanglish Version) (Ft. Mac Miller)</li>
                      <li>
                        The Way (Spanglish Version) [feat. J Balvin] (Ft. J
                        Balvin)
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">My everything</h2>
                  <img src="~assets/album/2.jpeg" alt="" />
                  <div class="content">
                    <ol>
                      <li>Intro</li>
                      <li>Problem (Ft. Iggy Azalea)</li>
                      <li>One Last Time</li>
                      <li>Why Try</li>
                      <li>Break Free (Ft. Zedd)</li>
                      <li>Best Mistake by Ariana Grande & Big Sean</li>
                      <li>Be My Baby (Ft. Cashmere Cat)</li>
                      <li>
                        Break Your Heart Right Back (Ft. Childish Gambino)
                      </li>
                      <li>Love Me Harder by Ariana Grande & The Weeknd</li>
                      <li>Just a Little Bit of Your Heart</li>
                      <li>Hands on Me (Ft. A$AP Ferg)</li>
                      <li>My Everything</li>
                      <li>
                        Bang Bang by Jessie J, Ariana Grande & Nicki Minaj
                      </li>
                      <li>Only 1</li>
                      <li>You Don't Know Me</li>
                      <li>Cadillac Song</li>
                      <li>Too Close</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Christmas & chill</h2>
                  <img src="~assets/album/7.jpg" alt="" />
                  <div class="content">
                    <ol>
                      <li>Intro (C&C) Lyrics</li>
                      <li>Wit It This Christmas Lyrics</li>
                      <li>December Lyrics</li>
                      <li>Not Just On Christmas Lyrics</li>
                      <li>True Love Lyrics</li>
                      <li>Winter Things Lyrics</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Dangerous woman</h2>
                  <img src="~assets/album/3.jpg" alt="" />

                  <div class="content">
                    <ol>
                      <li>Moonlight</li>
                      <li>Dangerous Woman</li>
                      <li>Be Alright</li>
                      <li>Into You</li>
                      <li>Side To Side (Ft. Nicki Minaj)</li>
                      <li>Let Me Love You (Ft. Lil Wayne)</li>
                      <li>Greedy</li>
                      <li>Leave Me Lonely (Ft. Macy Gray)</li>
                      <li>Everyday (Ft. Future)</li>
                      <li>Sometimes</li>
                      <li>I Don't Care</li>
                      <li>Bad Decisions</li>
                      <li>Touch It</li>
                      <li>Knew Better / Forever Boy</li>
                      <li>Thinking Bout You</li>
                      <li>Step on Up</li>
                      <li>Jason's Song (Gave It Away)</li>
                      <li>Focus</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Sweetener</h2>
                  <img src="~assets/album/4.jpg" alt="" />

                  <div class="content">
                    <ol>
                      <li>raindrops (an angel cried)</li>
                      <li>blazed (Ft. Pharrell Williams)</li>
                      <li>the light is coming (Ft. Nicki Minaj)</li>
                      <li>R.E.M.</li>
                      <li>God is a woman</li>
                      <li>sweetener</li>
                      <li>successful</li>
                      <li>​everytime</li>
                      <li>breathin</li>
                      <li>no tears left to cry</li>
                      <li>borderline (Ft. Missy Elliott)</li>
                      <li>better off</li>
                      <li>goodnight n go</li>
                      <li>pete davidson</li>
                      <li>get well soon</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Thank U, Next</h2>
                  <img src="~assets/album/5.jpeg" alt="" />

                  <div class="content">
                    <ol>
                      <li>imagine Lyrics</li>
                      <li>needy</li>
                      <li>NASA</li>
                      <li>bloodline</li>
                      <li>fake smile</li>
                      <li>bad idea</li>
                      <li>make up</li>
                      <li>ghostin</li>
                      <li>in my head</li>
                      <li>7 rings</li>
                      <li>thank u, next</li>
                      <li>break up with your girlfriend, i'm bored</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <h2 class="has-text-weight-semibold">Positions</h2>
                  <img src="~assets/album/6.jpg" alt="" />

                  <div class="content">
                    <ol>
                      <li>shut up</li>
                      <li>34+35</li>
                      <li>motive by Ariana Grande & Doja Cat</li>
                      <li>just like magic</li>
                      <li>off the table by Ariana Grande & The Weeknd</li>
                      <li>safety net (Ft. Ty Dolla $ign)</li>
                      <li>my hair</li>
                      <li>nasty</li>
                      <li>west side</li>
                      <li>.love language</li>
                      <li>.positions</li>
                      <li>.obvious</li>
                      <li>.pov</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Discography -->
        <!-- Achievements -->
        <div v-if="activeTab === 'achievement'">
          <figure class="image m-b-md">
            <img src="~assets/about/achievements.jpg" alt="" />
          </figure>

          <p>
            All of Ariana Grande's full-length albums are certified platinum by
            the RIAA. She has amassed billions of streams on platform throughout
            her career, the most followed female on YouTube and Spotify, as well
            as the most-streamed artists on Spotify and Apple Music within the
            2010s. Ariana Grande has won a Grammy Award, a BRIT Award, nine MTV
            Video Music Awards, three MTV Europe Music Awards, and three
            American Music Awards. She also has received 22 Billboard Music
            Award nominations and won two in 2019, including Top Female Artist.
            Ariana Grande has won five Nickelodeon Kids' Choice Awards,
            including one in 2014 for Favorite TV Actress for her performance on
            Sam & Cat, and one People's Choice Award. In 2014, she received the
            Breakthrough Artist of the Year Award from the Music Business
            Association and Best Newcomer at the Bambi Awards. She has won six
            iHeartRadio Music Awards and twelve Teen Choice Awards. She was
            named Billboard Women in Music's Rising Star in 2014 and Woman of
            the Year in 2018.
          </p>
          <p>
            Ariana Grande has broken multiple Hot 100 records. Ariana Grande has
            incorporate a total of sixteen top ten debuts up to now, beginning
            together with her first single "The Way" which was the lead single
            from each of her first five studio albums have debuted within the
            top ten, making her the only artist to do this. In 2020, she became
            the only artist to possess her first five ideal singles, "Thank U,
            Next", "7 Rings", "Stuck with U", "Rain on Me", and "Positions"
            debut at number one and that year, Ariana Grande also broke the
            record for the best debuts. Ariana Grande also become the only
            artist to own three singles debut at beloved on one year. She later
            broke the record for many simultaneously-charting songs on the
            highest 40 of the new 100 for a female artist with the discharge of
            her fifth studio album, Thank U, Next, when eleven of the twelve
            tracks charted within the region (later surpassed by Billie Eilish).
            The three singles from Thank U, Next, "7 Rings", "Break Up together
            with your Girlfriend, I'm Bored", and "Thank U, Next" charted at
            numbers one, two, and three respectively on the week of February 23,
            2019, making Grande the primary solo artist to occupy the highest
            three spots of the Billboard Hot 100 and therefore the first artist
            to try to so since the Beatles in 1964. With with her album Thank U,
            Next, Grande set the record for the biggest streaming week for a pop
            album and for a female artist, with 307 million on-demand audio
            streams, and as of November 2020, Ariana Grande has 66 entries on
            the recent 100, becoming the fourth female artist with the most Hot
            100 entries.
          </p>
          <p>
            In 2016 and 2019, Ariana Grande was named one amongst Time's 100
            most influential people within the world. In 2017, Celia Almeida
            wrote a piece of writing for Miami New Times and believes that of
            all the most important pop stars of the past 20 years, Ariana Grande
            has made the most convincing transition "from ingénue to independent
            female artist."
          </p>
        </div>
        <!-- Achievements -->
      </div>
    </div>
  </section>
  <!-- About -->
</template>

<script>
export default {
  name: 'HomePage',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      activeTab: 'profile',
      items: [
        {
          title: "Artist's profile",
          to: { name: 'profile' },
        },
        {
          title: 'Career’s journey',
          to: { name: 'career' },
        },
        {
          title: 'Albums and Songs',
          to: { name: 'album-song' },
        },
        {
          title: 'Discography',
          to: { name: 'discography' },
        },
        {
          title: 'Achievements',
          to: { name: 'achievement' },
        },
      ],
    }
  },
  methods: {
    /**
     * Method for set active tab
     * @params {string} tab - selected tab 'profile'|'album-song'|etc
     */
    setActiveTab(tab) {
      this.activeTab = tab
    },
  },
}
</script>
<style lang="scss" scoped>
.menu-list {
  a {
    &.is-active {
      background-color: whitesmoke;
      color: #363636;
    }
  }
}
</style>
