<template>
  <section class="section">
    <div class="columns is-multiline">
      <!-- Render Message from api -->
      <div
        class="column is-6"
        v-for="hateComment in listHateComment"
        :key="hateComment.id"
      >
        <div class="card">
          <div class="card-content">
            <p class="has-text-weight-bold">
              {{ hateComment.name }}
            </p>
            <p>
              {{ hateComment.content }}
            </p>
            <small>
              {{ hateComment.created_at }}
            </small>
          </div>
        </div>
      </div>
      <!-- End Render Message from api -->
    </div>
  </section>
</template>

<script>
export default {
  name: 'FanMails',
  layout: 'dashboard',
  middleware: 'auth',
  data() {
    return {
      // initial data
      listHateComment: [],
      isListHateCommentLoading: false,
      listHateCommentErrors: null,
    }
  },
  async created() {
    // call method get fan mail data
    await this.getListHateComment()
  },
  methods: {
    // method for get hate comment data from api
    async getListHateComment() {
      try {
        // set loading to true
        this.isListHateCommentLoading = true
        // get message with type 3 from api
        const response = await this.$axios.$get(`messages`, {
          params: {
            type_eq: 3,
          },
        })
        // set response from api
        this.listHateComment = response
        // set loading to false
        this.isListHateCommentLoading = false
      } catch (error) {
        // set loading to false
        this.isListHateCommentLoading = false
      }
    },
  },
}
</script>
