<template>
  <section class="section">
    <div class="columns is-multiline">
      <!-- Render Message from api -->
      <div
        class="column is-6"
        v-for="ideasForManagement in listIdeasForManagement"
        :key="ideasForManagement.id"
      >
        <div class="card">
          <div class="card-content">
            <p class="has-text-weight-bold">
              {{ ideasForManagement.name }}
            </p>
            <p>
              {{ ideasForManagement.content }}
            </p>
            <small>
              {{ ideasForManagement.created_at }}
            </small>
          </div>
        </div>
      </div>
      <!-- End Render Message from api -->
    </div>
  </section>
</template>

<script>
export default {
  name: 'IdeasForManagement',
  layout: 'dashboard',
  middleware: 'auth',
  data() {
    return {
      // initial data
      listIdeasForManagement: [],
      isListIdeasForManagementLoading: false,
      listIdeasForManagementErrors: null,
    }
  },
  async created() {
    // call method get ideas for management data
    await this.getListIdeasForManagement()
  },
  methods: {
    // method for get ideas for management data from api
    async getListIdeasForManagement() {
      try {
        // set loading to true
        this.isListIdeasForManagementLoading = true
        // get message with type 2 from api
        const response = await this.$axios.$get(`messages`, {
          params: {
            type_eq: 2,
          },
        })
        // set response from api
        this.listIdeasForManagement = response
        // set loading to false
        this.isListIdeasForManagementLoading = false
      } catch (error) {
        // set loading to false
        this.isListIdeasForManagementLoading = false
      }
    },
  },
}
</script>
