<template>
  <section class="section">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="has-text-centered">
          <img
            src="~assets/logo.png"
            width="10%"
            class="has-text-centered"
            alt=""
          />
          <h1 class="has-text-weight-bold">Ariana Grande</h1>
        </div>
        <div class="card">
          <div class="card-content">
            <!-- Form Login -->
            <form @submit.prevent="submitLogin()">
              <!-- Field Username -->
              <b-field label="Username">
                <b-input v-model="email" type="text" placeholder="Email">
                </b-input>
              </b-field>
              <!-- End of Field Username -->
              <!-- Field Password -->
              <b-field label="Password">
                <b-input
                  v-model="password"
                  type="password"
                  placeholder="Password"
                  password-reveal
                >
                </b-input>
              </b-field>
              <!-- End of Field Password -->
              <!-- Submit Button -->
              <button
                class="button is-primary is-medium is-fullwidth m-t-md"
                type="submit"
                :class="{ 'is-loading': isUserLoading }"
              >
                Login
              </button>
              <!-- End of Submit Button -->
            </form>
            <!-- End of Form -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// call mapGetters and mapActions from vuex/store
import { mapGetters, mapActions } from 'vuex'

export default {
  // used layout
  layout: 'login',
  // middleware for checking user already login or not
  middleware: 'login-redirect',
  data() {
    return {
      // initial data email and password
      email: null,
      password: null,
    }
  },
  computed: {
    // get data user, token, etc from getters vuex/store
    ...mapGetters(['user', 'token', 'isUserLoading', 'errorLogin']),
  },
  methods: {
    // get action login method from vuex/store
    ...mapActions(['doLogin']),
    // method for user login
    // this method is called when user clicked submit button
    async submitLogin() {
      // email and password data from input field
      const payload = {
        email: this.email,
        password: this.password,
      }

      // call method login from vuex/store
      await this.doLogin(payload)

      // condition for check success login or not
      if (this.user && this.token) {
        // if success login redirect to /dashboard
        this.$router.push('/dashboard')
      } else {
        // when login failed, show popup error
        this.$buefy.toast.open({
          duration: 3000,
          message: `${this.errorLogin}`,
          position: 'is-bottom',
          type: 'is-danger',
        })
      }
    },
  },
}
</script>
